*{
  margin:0;
}
figure {
  width: 36%;
  margin: 8px auto;
}


div.relative_div > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: white;
  font-size: 24px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h4 {
  color:rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300px;
  text-align: center;
  margin-top: 10px; 
}

h2 {
  color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  text-align: center;
}

h3 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

h1 {
  color:rgb(178, 178, 178);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300px;
  text-align: center;
}

.box2 {
  background-color: rgb(0, 0, 0); 
  text-align: center;
  height: 1000px;
  margin-bottom: 0px;
  
}

.wrapper {
  padding: 100px; 
}

.grid1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.image-container {
  text-align: center;
}

#myImage {
  width: 300px;
  height: auto;
}

.snowflake {
  color: rgb(125, 125, 125);
  opacity: 50%;
  position: absolute;
  top: 0;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
      transform: translateY(-5vh);
  }
  100% {
      transform: translateY(110vh);
  }
}

@keyframes animate {
  0% {
      transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
      transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes animate2 {
  0% {
      transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
      transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes animate3 {
  0% {
      transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
      transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes animate3r {
  0% {
      transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
      transform: rotateX(0deg) rotateY(-180deg);
  }
}

@keyframes animate2r {
  0% {
      transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
      transform: rotateX(0deg) rotateY(-180deg);
  }
}

@keyframes animater {
  0% {
      transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
      transform: rotateX(0deg) rotateY(-180deg);
  }
}

.rotate45 {
  transform: rotateX(45deg);
}

button#popupButton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  display: block;
  margin: 0 auto;
  margin-top:0px;
  margin-bottom:0px;
  padding: 70px 70px ; /* Adjust padding to increase button size */
  font-size: 100; /* Adjust font size for better readability */
}
#popupButton img {
  width: 2000px; /* Adjust width as needed */
  height: 1700px; /* Adjust height as needed */
}
#popupButton:hover {
  background-color: #929292; /* Change background color on hover */
}

/* CSS for the image popup */
#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensures it appears above other content */
}

#popupContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250%;
  height: 250%;
}
#popupImage {
  width: 3000px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 90%; /* Limit the maximum width to 90% of the viewport width */
  max-height: 90%; /* Limit the maximum height to 90% of the viewport height */
}

#popupContent img {
  max-width: 200%;
  max-height: 200%;
}


button#popupButton2 {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  display: block;
  margin: 0 auto;
  margin-top:0px;
  margin-bottom:0px;
  padding: 70px 70px ; /* Adjust padding to increase button size */
  font-size: 100; /* Adjust font size for better readability */
}
#popupButton2 img {
  width: 2000px; /* Adjust width as needed */
  height: 1700px; /* Adjust height as needed */
}
#popupButton2:hover {
  background-color: #929292; /* Change background color on hover */
}

/* CSS for the image popup */
#popupContainer2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensures it appears above other content */
}

#popupContent2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250%;
  height: 250%;
}
#popupImage2 {
  width: 2000px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 90%; /* Limit the maximum width to 90% of the viewport width */
  max-height: 90%; /* Limit the maximum height to 90% of the viewport height */
}

#popupContent2 img {
  max-width: 200%;
  max-height: 200%;
}


.box{
  background-color: rgb(210, 210, 210); 
  text-align: center;
  height: 190px;
  margin-bottom: 0px;
}






